<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Pixel game</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <a href="/login" id="lgn">Login</a>
    <a href="/createprofile" id="crpfl">Create profile</a>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="/static/js/cookiemonster.js"></script>
    <script src="/static/js/script.js"></script>
    <noscript>How are you going to do intense gaming when the website doesn't work? Please, allow Javascript.</noscript>
  </body>
</html>