<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title></title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <label for='name'>Name</label>
    <input type="text" id="name">
    <br>
    <label for="pwd">Password</label>
    <input type="password" id="pwd">
    <br>
    <button onclick="login()">Login</button>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="/static/js/cookiemonster.js"></script>
    <script src="/static/js/login.js"></script>
    <noscript>How are you going to do intense gaming when the website doesn't work? Please, allow Javascript.</noscript>
  </body>
</html>