<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title></title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <button onclick="makeprof()">Make profile</button>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="/static/js/makeprof.js"></script>
    <noscript>How are you going to do intense gaming when the website doesn't work? Please, allow Javascript.</noscript>
  </body>
</html>